<!DOCTYPE html>
<html>
<head>
    <title>Image Download</title>
</head>
<body>
<h1>Image Download</h1>
<button id="downloadButton">Download Image</button>
<script th:inline="javascript">
    /* 타임리프 템플릿 내에서 JavaScript 코드 사용 */
    var imageUrl = [[${s3ImageUrl}]];
</script>

<script>
    document.getElementById('downloadButton').addEventListener('click', function() {
        // 이미지 URL을 콘솔에 출력합니다.
        console.log('Image URL:', imageUrl);

        // 이미지 URL이 유효한지 확인합니다.
        if (!imageUrl) {
            console.error('Failed to get image URL from the server');
            alert('Failed to get image URL from the server. Please try again later.');
            return;
        }

        var apiUrl = "http://joljol.site:8080/api/downloadImage/" + encodeURIComponent(imageUrl); // encodeURIComponent()를 사용하여 URL을 인코딩합니다.

        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch image from server');
                }
                return response.blob();
            })
            .then(blob => {
                var downloadLink = document.createElement('a');
                downloadLink.href = window.URL.createObjectURL(blob);
                downloadLink.download = 'downloaded_image.jpg'; // 다운로드될 파일 이름을 설정합니다. 원하는 이름으로 변경 가능합니다.

                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            })
            .catch(error => {
                console.error('An error occurred during image download:', error.message);
                alert('Failed to download image. Please try again later.'); // 사용자에게 오류 메시지를 표시합니다.
            });
    });
</script>

</body>
</html>
