<!DOCTYPE html>
<html>
<head>
    <title>Image Download</title>
</head>
<body>
<h1>Image Download</h1>
<button id="downloadButton">Download Image</button>

<script>
    document.getElementById('downloadButton').addEventListener('click', function() {
        // 서버 API 엔드포인트
        var apiUrl = "http://joljol.site:8080/api/downloadImage{$s3ImageUrl}";

        // 서버 API를 호출하여 이미지 파일을 받아옵니다.
        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                // Blob을 파일로 변환하여 다운로드합니다.
                var downloadLink = document.createElement('a');
                downloadLink.href = window.URL.createObjectURL(blob);
                downloadLink.download = 'img.jpg'; // 다운로드될 파일 이름을 지정합니다.

                // 다운로드 링크를 클릭하여 이미지를 다운로드합니다.
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    });
</script>
</body>
</html>
